.avatarBackground {
  height: 5rem;
  width: 5rem;
  border-radius: 1.2rem;
  background-color: var(--warm-900);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cirleSmall {
  position: absolute;
  z-index: 2;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  background-color: var(--warm-100);
}

.cirleMedium {
  position: absolute;

  z-index: 1;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 100%;

  background-color: var(--warm-500);
}

.initials {
  z-index: 3;
}
