.matchCard {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 390px;
}

.matchCard__current {
  position: relative;
  margin-top: 26px;
  background-color: var(--dark-18);
  background-size: cover;
  overflow: none;
  width: 295px;
  height: 364px;
  border: 2px solid var(--dark-18);
  border-radius: 12px;
  z-index: 1;
}

.matchCard__info {
  height: 336px;
  margin: 14px;
  display: flex;
  flex-direction: column;
}

.matchCard__title {
  color: var(--light-500);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin: 6px 48px 16px 48px;
}

.matchCard__details {
  margin-top: 10%;
  flex-grow: 1;
}

.matchCard__details > div {
  display: inline-block;
}

.matchCard__bubble {
  white-space: nowrap;
  font-size: 13px;
  font-weight: 400px;
  background: var(--dark-300);
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  margin: 4px;
}

.matchCard__details > p {
  margin: 20px 50px 8px 50px;
  font-size: 13px;
  font-weight: 400;
}

.matchCard__button {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-900-50);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.matchCard__bg1 {
  margin-top: 13px;
  position: absolute;
  width: 260px;
  height: 318px;
  border-radius: 12px;
  background: var(--dark-66);
}

.matchCard__bg2 {
  z-index: -1;
  position: absolute;
  width: 234px;
  height: 318px;
  border-radius: 12px;
  background: var(--dark-36);
}
