.matchPage {
  width: 100vw;
  height: 85vh;
  padding-bottom: 15vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchPage__content {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchPage__buttons {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.matchPage__tile {
  width: 80vw;
  height: 60vh;
  border-radius: 20px;
  border: 1px solid white;
}
