
.profile__container {
   height: 150%;
}

.profile__header-container {
display: flex;

}

.profile__profile-picture {
position: absolute;
left: 00px;
top: 0;
z-index: -1;
width: 100%;
height: 200px;
object-fit: cover;
}

.profile__name-box {
    position: absolute;
    /* dark 500 */
    background-color: #161616;
    left: 32px;
    top: 170px;
    width: 235px;
    height: 100px;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
}

.profile__name-box>h2 {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.profile__name-box>h3 {
    color: white;
    padding: 16px;
    font-size: 12px;
}

.profile__name-box > h4 {
    color: #9D9D9D;
    font-size: 14px;
    line-height: 1.4;
}

.profile__info-container {
    display: none;
    position: relative;
    top: 300px;
         }

#profile__likes-container, 
#profile__matches-container {
    position: absolute;
    top: 350px;
    left: 15px;
    width: 90%;
            }

#profile__matches-container {
   margin-top: 25px;}

 #profile__matches-container {
top: 500px;
        }

.profile__text-container {
    display: flex;
    justify-content: space-between;
    width: 99%;
    padding-bottom: 20px;
    }

  .profile__footer {  
    position: absolute;
    top: 700px;
    width: 90%;
    padding-bottom: 150px;
    text-align: start;
  }

  .profile__footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    left: 15px;
    position: relative;
  }  

  .profile__footer >h1 {
    padding: 5px;
    padding-left: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 145%;
  }

.profile__horizontal-line {
   position: relative;
   left: 15px;
   height: 0;
   border: 1px solid #202020;
}

.profile__show-all {
font-size: small;
color: 9D9D9D;
}

#profile__settings {
z-index: 2;
background: #202020;
opacity: 0.5;
position: relative;
left: 10px;
top: 10px;
display: flex;
align-items: center;
justify-content: center;
height: 40px;
width: 40px;
border-radius: 30px;
}


.profile__likes-picture,
.profile__matches-picture {
    height: 120px;
    width: 100px;
    border-radius: 15px;
    margin-left: 5px;
    object-fit: cover;
     }
   
.profile__likes-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    }

#profile__liked-movies-container {
      display: table;
      justify-content: start;
    }

#profile__liked-movies-container .profile__likes-picture {
   width: 60px;
   height: 60px;
}

.profile__movies-list {
  display: flex;
    padding: 5px;
    margin-bottom: 100px;
   }

   #biggest {
     display: flex;
    }



.profile__listed-movie-container {
  display: flex;
  /* font-family: Inter; */
}

.profile__listed-movie {
   position: relative;
   padding: 5px;
   height: 60px;
   display: block;
   
   }

   .profile__listed-movie-name {
     position: relative;
     padding: 5px;
     height: 60px;
     display: block;
     text-align: start;
     top: 7px;
   }

   .profile__listed-movie-name span {
     font-size: small;
     padding-right: 5px;
     color: grey;
   }


.profile__back-bttn {
 position: fixed;
 right: 20px;
 top: 20px;
}


.profile__edit-containter{
  display: absolute;
  align-items: left;
  padding-left: 20px;
  }

.profile__edit-footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-around;

}

#profile__edit-picture-container{
  display:flex;
  align-items: center;
  justify-content: center;
}

#profile__edit-picture {
  position: relative;
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 10px;
}


.profile__edit-label-input {
  display: flex;
  padding: 10px;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: rgba(5, 5, 5, 0.25);
  border-radius: 10px;
}

.profile__bttn{
  margin: 20px;
  height: 40px;
  width: 200px;
  font-size: 25px;
}

.profile__edit-likes-friends {
  margin-bottom: 150px;
  text-align: start;
}

.profile__edit-grid {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 5px;
  align-items: center;
}

.profile__p-text {
  padding: 10px;
}

.profile__edit-containter label {
  padding-right: 5px;
  margin-right: 5px;
} 

.profile__edit__age-select-wrapper .profile__edit__age-select {
  border: solid 2px green;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 300px;
  color: white;
}

#profile__edit-inputlabel {
  border: solid 2px blue;
  color: white;
  position: static;
  transform: none;
}

.profile__edit__age-select-wrapper .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
  border: solid 2px red;
  color: white;
}

#profile__chevron-left {
background: #202020;
height: 40px;
width: 40px;
opacity: 0.5;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #profile__likes-chevron-right {
  position: relative;
  right: 3px;
}

.profile__listed-movie-name .iconSVG {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 3px;
  align-items: end;
} */