.circlesBackground {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circlesBackground__bigC {
  position: absolute;
  background-color: var(--grey-dark);
  z-index: -3;
  border-radius: 50%;
  width: 189vw;
  height: 189vw;
}

.circlesBackground__midC {
  position: absolute;
  background-color: var(--grey-middle);
  border-radius: 50%;
  z-index: -2;
  width: 124.33vw;
  height: 124.33vw;
}

.circlesBackground__smallC {
  position: absolute;
  background-color: var(--grey-light);
  border-radius: 50%;
  z-index: -1;
  width: 63.11vw;
  height: 63.11vw;
}
