.shotsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.shotsButtonLike {
  background: var(--success-500);
}

.shotsButtonDislike {
  background: var(--error-500);
}
