.filterPage {
  z-index: 2;
}

.letsStart {
  z-index: 2;
  cursor: pointer;
}

.letsStart:hover {
  cursor: pointer;
}

.letsStart :active {
  transform: scale(0.95);
}

.letsStart__border {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--prime-500-25);
  border-radius: 20px;
  width: 261px;
  height: 80px;
}

.letsStart__border[data-isOpen='true'] {
  height: 580px;
  width: 339px;
}

.letsStart__card {
  background: var(--prime-500);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 237px;
  height: 56px;
  border-radius: 8px;
}

.letsStart__card[data-isOpen='true'] {
  height: 532px;
  width: 291px;
  padding: 12px;
}

.letsStart__title {
  color: var(--dark-900);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  padding-top: 12px;
  margin: none;
}

.letsStart__content {
  display: none;
}
