.filterGroup {
  color: var(--dark-900);
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.25px;
  width: 100%;
}

.filterGroup__name {
  margin-bottom: 8px;
  margin-top: 16px;
}

.filterGroup__option {
  white-space: nowrap;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 8px;
  background: var(--prime-700);
  margin: 4px;
  cursor: pointer;
}

.filterGroup__optionActive {
  white-space: nowrap;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 8px;
  background: var(--dark-100);
  margin: 4px;
  color: var(--prime-500);
  cursor: pointer;
}
