.letsStartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-900);
  background: var(--prime-500-25);
  border-radius: 8px;
  width: 261px;
  height: 80px;
  font-size: 22px;
  font-weight: 600;
}

.letsStartButton__internal {
  background: var(--prime-500);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 237px;
  height: 56px;
  border-radius: 8px;
}
