.testLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.testLogin__section {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.testLogin__section > input {
  margin-bottom: 10px;
}

.testLogin__section > h1 {
  margin-bottom: 15px;
}
