.circlesBackground {
  z-index: -1;
  height: 85vh;
  width: 100vw;
  padding-bottom: 15vh;
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
}

.circlesBackground__bigC {
  position: absolute;
  background-color: var(--dark-700);
  z-index: -3;
  border-radius: 50%;
  width: 190vw;
  height: 190vw;
}

.circlesBackground__midC {
  position: absolute;
  background-color: var(--dark-500);
  border-radius: 50%;
  z-index: -2;
  width: 125vw;
  height: 125vw;
}

.circlesBackground__smallC {
  position: absolute;
  background-color: var(--dark-300);
  border-radius: 50%;
  z-index: -1;
  width: 60vw;
  height: 60vw;
}
